[submodule "static_files/MavenProj"]
	path = static_files/MavenProj
	url = https://github.com/rotba/MavenProj
[submodule "static_files/tika"]
	path = static_files/tika
	url = https://github.com/apache/tika
[submodule "static_files/commons-math"]
	path = static_files/commons-math
	url = https://github.com/apache/commons-math
[submodule "examples/MavenProj"]
	path = examples/MavenProj
	url = https://github.com/rotba/MavenProj
[submodule "static_files/java_tracer"]
	path = static_files/java_tracer
	url = https://github.com/amir9979/java_tracer
